[Unit]
Description=Laravel Queue Worker
After=network.target redis.service

[Service]
User=www-data
Group=www-data
Restart=always
ExecStart=/usr/bin/php8.4 /var/www/bizo.technology/artisan queue:work redis --sleep=3 --tries=3 --max-time=3600 --workers=6
StandardOutput=append:/var/log/laravel-queue.log
StandardError=append:/var/log/laravel-queue.log

[Install]
WantedBy=multi-user.target
